@charset "utf-8";
a img {
    border: none;
}
a{
    text-decoration:none;
    color: #0e17ff;
    cursor: pointer;
}
a:hover{
    text-decoration:none;
    color:#fff;
}
html, body {
    -webkit-text-size-adjust:none;
}
body{
    background-color: rgba(168, 207, 200, 0.93);
    color:#545454;
    font-family:"微软雅黑","Microsoft YaHei",Arial,Georgia,Verdana,serif;
    font-size:13px;
    line-height:18px;
    /*background-size:800px auto;*/
    margin:0px;
    background: url(../img/padded.png) repeat;
}
.logo{
    width:200px;
    height:73px;
    margin: 0 auto;
    background:url(../img/logo.png) no-repeat center;
}
.login{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-left:10%;
}
#txt_name,#txt_pwd{
    width:80%;
    height:20px;
    color: #808080;
    margin-bottom: 10px;
}
#btn_login{
    width:20%;
    height:30px;
    margin-bottom: 10px;
    margin-left: 30%;
}
#container{
    width:100%;
    max-width:800px;
    min-width:320px;
    margin:0 auto;
}
#a_signup{
    margin-left:50%;
}
@media screen and (max-width:600px){
    body{
        background-size:600px auto;
        background-position:center -11px;
    }
}
@media screen and (max-width:400px){
    body{
        background-size:400px auto;
        background-position:center 0;
    }
}
@media screen and (min-width:600px){
    .logo{
        width:400px;
        height:145px;
        background-image:url(../img/logo_big.png);
        margin-top: 120px;
    }
    .login{
        margin-left: 200px;
    }
    #btn_login{
        margin-left: 185px;
        width:140px;
    }
    #a_signup{
        margin-left:280px;
    }
    #txt_name,#txt_pwd{
        width:400px;
    }
}
